body,
html {
    height: 100vh;
    margin: 0;
    font-family: 'Jost', sans-serif;
    background-image: url('../Resources/NASA.JPG');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    a {
        text-decoration: none;
        color: black;
        padding: 0;
        margin: 0;
    }
}

body::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,400;1,300&display=swap');

//
//
//Main Css Style
//
//

.Main {
    header {
        position: fixed;
        background: white;
        width: 100vw;
        height: 4em;
        z-index: 999;
    }

    h2 {
        display: inline;
        position: relative;
        left: 2em;
        top: 1em;
    }

    .navBar {
        width: 20%;
        margin: 0 auto;
        text-align: center;
        top: 1em;

        ul {
            top: 1.3em;
            display: inline;
            padding: 0;
            text-align: center;
            position: relative;

            li {
                display: inline;
                margin: 1em;
            }

            #Title {
                left: -34em;
                position: relative;
                font-size: 1.4em;
                margin: 0;
            }
        }
    }

}

.MainContainer {
    height: 100vh;

    p {
        padding: 0;
        margin: 0;
    }
}

//
//
//Edit User Style
//
//

.EditUser {
    position: fixed;
    background: rgba(255, 255, 255, 0.541);
    bottom: 5%;
    left: 4em;
    padding: 1em;
    border-radius: 4px;
}

.EditUserAdmin {
    position: fixed;
    background: rgba(255, 255, 255, 0.541);
    bottom: 5%;
    left: 10em;
    padding: 1em;
    border-radius: 4px;
}

.EditPostAdmin {
    position: fixed;
    background: rgba(255, 255, 255, 0.541);
    bottom: 5%;
    left: 17.9em;
    padding: 1em;
    border-radius: 4px;
}

.EditPostUser {
    position: fixed;
    background: rgba(255, 255, 255, 0.541);
    bottom: 5%;
    left: 10em;
    padding: 1em;
    border-radius: 4px;
}

.MakePost {
    position: fixed;
    background: rgba(255, 255, 255, 0.541);
    bottom: 5%;
    right: 4em;
    padding: 1em;
    border-radius: 4px;
}

//
//
//Signup form style
//
//

.SignupForm {
    position: fixed;
    top: 20%;
    right: 5em;
    width: 500px;
    height: 350px;
    padding: 1em;
    background: rgba(255, 244, 244, 0.52);
    border-radius: 4px;

    form {
        label {
            display: inline-block;
        }

        input {
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 12px 12px 12px 0;
            display: block;
        }

        button {
            float: right;
            margin: 2em 0 2em 0;
            border: none;
            background: white;
            padding: 0.7em;
            border-radius: 4px;
        }
    }
}

//
//
//Login form style
//
//

.LoginForm {
    position: fixed;
    top: 20%;
    right: 5em;
    width: 500px;
    height: 230px;
    padding: 1em;
    background: rgba(255, 244, 244, 0.52);
    border-radius: 4px;

    form {
        label {
            display: inline-block;
        }

        input {
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 12px 12px 12px 0;
            display: block;
        }

        button {
            float: right;
            margin: 2em 0 0 0;
            border: none;
            background: white;
            padding: 0.7em;
            border-radius: 4px;
        }
    }
}

//
//
//User Edit Style
//
//

.UserEditList {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;

    form {
        width: 25%;
        margin: 0 auto;

        label {
            display: inline-block;
        }

        input {
            text-align: center;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 12px 12px 12px 0;
            display: block;
        }

        button {
            margin: 2em 1em 2em 1em;
            border: none;
            background: white;
            padding: 0.7em 3em 0.7em 3em;
            border-radius: 4px;
        }
    }
}

.tooltip {
    position: relative;
    display: inline-block;
    width: 100%;
}

.tooltip .tooltiptext {
    width: 100%;
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    margin-left: -50%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

//
//
//User Publish Style
//
//

.UserPublishPost {
    position: fixed;
    top: 20%;
    width: 100%;
    text-align: center;

    form {
        width: 25%;
        margin: 0 auto;

        label {
            display: inline-block;
        }

        input {
            text-align: center;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 12px 12px 12px 0;
            display: block;
        }

        button {
            margin: 2em 1em 2em 1em;
            border: none;
            background: white;
            padding: 0.7em 3em 0.7em 3em;
            border-radius: 4px;
        }

        textarea {
            text-align: center;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 12px 12px 12px 0;
            margin: 1em 0 0 0;
            display: block;
            resize: none;
            height: 50vh;
        }
    }
}

//
//
//Post style
//
//

.PostSneakContainer {
    position: absolute;
    top: 20%;
    width: 800px;
    left: 25%;
    margin-left: -200px;
    text-align: center;


    #PostSneakTitle {
        height: 20%;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0 0 0 0;
        left: 0;
        top: 0;
    }

    #PostSneakBody {
        height: 20%;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        left: 0;
        top: 0;
    }

    .PostSneakView {
        display: flex;
        justify-content: center;
        padding: 0;
        left: 0;
        top: 0;
        margin: 2em 0 2em 0;
        width: 100%;
        border: none;
        background: white;
        padding: 0.7em 3em 0.7em 3em;
        border-radius: 4px;
    }

    .PostSneakView:hover {
        background: rgba(0, 0, 0, 0.52);
    }

    .PostSneakBox {
        margin: 1em 0 0 0;
        padding: 1em;
        background: rgba(255, 244, 244, 0.52);
        border-radius: 4px;
    }

    #InputID {
        display: none;
    }

    textarea {
        text-align: center;
        width: 50%;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 12px 12px 12px 0;
        margin: 1em auto 0 auto;
        display: block;
        resize: none;
        height: 10vh;
    }

    #CommentBtn {
        margin: 1em 0 2em 0;
        border: none;
        background: white;
        padding: 0.7em 3em 0.7em 3em;
        border-radius: 4px;
    }
}

.PostSneakContainerForm {
    position: absolute;
    top: 20%;
    width: 800px;
    left: 50%;
    margin-left: -400px;
    text-align: center;


    #PostSneakTitle {
        height: 20%;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0 0 0 0;
        left: 0;
        top: 0;
    }

    #PostSneakBody {
        height: 20%;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        left: 0;
        top: 0;
    }

    .PostSneakView {
        display: flex;
        justify-content: center;
        padding: 0;
        left: 0;
        top: 0;
        margin: 2em 0 2em 0;
        width: 100%;
        border: none;
        background: white;
        padding: 0.7em 3em 0.7em 3em;
        border-radius: 4px;
    }

    .PostSneakView:hover {
        background: rgba(0, 0, 0, 0.52);
    }

    .PostSneakBox {
        margin: 1em 0 0 0;
        padding: 1em;
        background: rgba(255, 244, 244, 0.52);
        border-radius: 4px;
    }

    #InputID {
        display: none;
    }

    textarea {
        text-align: center;
        width: 50%;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 12px 12px 12px 0;
        margin: 1em auto 0 auto;
        display: block;
        resize: none;
        height: 10vh;
    }

    #CommentBtn {
        margin: 1em 0 2em 0;
        border: none;
        background: white;
        padding: 0.7em 3em 0.7em 3em;
        border-radius: 4px;
    }
}

.PostCommentContainer {
    position: absolute;
    top: 20%;
    width: 400px;
    right: 25%;
    margin-right: -250px;
    text-align: center;


    #PostSneakTitle {
        height: 20%;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0 0 0 0;
        left: 0;
        top: 0;
    }

    .CommentBox {
        background: rgba(255, 244, 244, 0.52);
        border-radius: 4px;

        #CommentEditBtn {
            margin: 0.5em 0.6em 0.5em 0.6em;
            border: none;
            background: white;
            padding: 0.2em 3em 0.2em 3em;
            border-radius: 4px;
        }

        // #CommentEditBtn {
        //     border: none;
        //     background: white;
        //     padding: 0.01em 0.6em 0.01em 0.6em;
        //     border-radius: 4px;
        //     font-size: 14px;
        // }
    }

    #CommentBody {
        background: rgba(255, 244, 244, 0.23);
    }

    .PostSneakView {
        display: flex;
        justify-content: center;
        padding: 0;
        left: 0;
        top: 0;
        margin: 2em 0 2em 0;
        width: 100%;
        border: none;
        background: white;
        padding: 0.7em 3em 0.7em 3em;
        border-radius: 4px;
    }

    .PostSneakView:hover {
        background: rgba(0, 0, 0, 0.52);
    }

    .PostSneakBox {
        margin: 1em 0 0 0;
        padding: 1em;
        background: rgba(255, 244, 244, 0.52);
        border-radius: 4px;
    }

    #InputID {
        display: none;
    }

    textarea {
        text-align: center;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 12px 12px 12px 0;
        margin: 1em auto 0 auto;
        display: block;
        resize: none;
        height: 10vh;
    }

    #CommentBtn {
        margin: 1em 0 2em 0;
        border: none;
        background: white;
        padding: 0.7em 3em 0.7em 3em;
        border-radius: 4px;
    }

    #CommentID {
        display: none;
    }
}

.UserEditCommentBox {
    position: fixed;
    top: 30%;
    width: 100%;
    text-align: center;

    form {
        width: 25%;
        margin: 0 auto;

        label {
            display: inline-block;
        }

        input {
            text-align: center;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 12px 12px 12px 0;
            display: block;
        }

        button {
            margin: 2em 1em 2em 1em;
            border: none;
            background: white;
            padding: 0.7em 3em 0.7em 3em;
            border-radius: 4px;
        }

        textarea {
            text-align: center;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 12px 12px 12px 0;
            margin: 1em 0 0 0;
            display: block;
            resize: none;
            height: 20vh;
        }
    }
}

//
//
//Edit Post
//
//

.PostEditContainer {
    position: absolute;
    top: 20%;
    width: 800px;
    left: 50%;
    margin-left: -400px;
    text-align: center;

    button {
        margin: 2em 1em 2em 1em;
        border: none;
        background: white;
        padding: 0.7em 3em 0.7em 3em;
        border-radius: 4px;
    }

    #PostSneakTitle {
        height: 20%;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0 0 0 0;
        left: 0;
        top: 0;
    }

    #PostSneakBody {
        height: 20%;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        left: 0;
        top: 0;
    }

    .PostSneakView {
        display: flex;
        justify-content: center;
        padding: 0;
        left: 0;
        top: 0;
        margin: 2em 0 2em 0;
        width: 100%;
        border: none;
        background: white;
        padding: 0.7em 3em 0.7em 3em;
        border-radius: 4px;
    }

    .PostSneakView:hover {
        background: rgba(0, 0, 0, 0.52);
    }

    .PostSneakBox {
        margin: 1em 0 0 0;
        padding: 1em;
        background: rgba(255, 244, 244, 0.52);
        border-radius: 4px;
    }

    #InputID {
        display: none;
    }
}

#PostID {
    display: none;
}