@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,400;1,300&display=swap");
body,
html {
  height: 100vh;
  margin: 0;
  font-family: 'Jost', sans-serif;
  background-image: url("../Resources/NASA.JPG");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body a,
html a {
  text-decoration: none;
  color: black;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Main header {
  position: fixed;
  background: white;
  width: 100vw;
  height: 4em;
  z-index: 999;
}

.Main h2 {
  display: inline;
  position: relative;
  left: 2em;
  top: 1em;
}

.Main .navBar {
  width: 20%;
  margin: 0 auto;
  text-align: center;
  top: 1em;
}

.Main .navBar ul {
  top: 1.3em;
  display: inline;
  padding: 0;
  text-align: center;
  position: relative;
}

.Main .navBar ul li {
  display: inline;
  margin: 1em;
}

.Main .navBar ul #Title {
  left: -34em;
  position: relative;
  font-size: 1.4em;
  margin: 0;
}

.MainContainer {
  height: 100vh;
}

.MainContainer p {
  padding: 0;
  margin: 0;
}

.EditUser {
  position: fixed;
  background: rgba(255, 255, 255, 0.541);
  bottom: 5%;
  left: 4em;
  padding: 1em;
  border-radius: 4px;
}

.EditUserAdmin {
  position: fixed;
  background: rgba(255, 255, 255, 0.541);
  bottom: 5%;
  left: 10em;
  padding: 1em;
  border-radius: 4px;
}

.EditPostAdmin {
  position: fixed;
  background: rgba(255, 255, 255, 0.541);
  bottom: 5%;
  left: 17.9em;
  padding: 1em;
  border-radius: 4px;
}

.EditPostUser {
  position: fixed;
  background: rgba(255, 255, 255, 0.541);
  bottom: 5%;
  left: 10em;
  padding: 1em;
  border-radius: 4px;
}

.MakePost {
  position: fixed;
  background: rgba(255, 255, 255, 0.541);
  bottom: 5%;
  right: 4em;
  padding: 1em;
  border-radius: 4px;
}

.SignupForm {
  position: fixed;
  top: 20%;
  right: 5em;
  width: 500px;
  height: 350px;
  padding: 1em;
  background: rgba(255, 244, 244, 0.52);
  border-radius: 4px;
}

.SignupForm form label {
  display: inline-block;
}

.SignupForm form input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 12px 12px 0;
  display: block;
}

.SignupForm form button {
  float: right;
  margin: 2em 0 2em 0;
  border: none;
  background: white;
  padding: 0.7em;
  border-radius: 4px;
}

.LoginForm {
  position: fixed;
  top: 20%;
  right: 5em;
  width: 500px;
  height: 230px;
  padding: 1em;
  background: rgba(255, 244, 244, 0.52);
  border-radius: 4px;
}

.LoginForm form label {
  display: inline-block;
}

.LoginForm form input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 12px 12px 0;
  display: block;
}

.LoginForm form button {
  float: right;
  margin: 2em 0 0 0;
  border: none;
  background: white;
  padding: 0.7em;
  border-radius: 4px;
}

.UserEditList {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
}

.UserEditList form {
  width: 25%;
  margin: 0 auto;
}

.UserEditList form label {
  display: inline-block;
}

.UserEditList form input {
  text-align: center;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 12px 12px 0;
  display: block;
}

.UserEditList form button {
  margin: 2em 1em 2em 1em;
  border: none;
  background: white;
  padding: 0.7em 3em 0.7em 3em;
  border-radius: 4px;
}

.tooltip {
  position: relative;
  display: inline-block;
  width: 100%;
}

.tooltip .tooltiptext {
  width: 100%;
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: 100%;
  margin-left: -50%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.UserPublishPost {
  position: fixed;
  top: 20%;
  width: 100%;
  text-align: center;
}

.UserPublishPost form {
  width: 25%;
  margin: 0 auto;
}

.UserPublishPost form label {
  display: inline-block;
}

.UserPublishPost form input {
  text-align: center;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 12px 12px 0;
  display: block;
}

.UserPublishPost form button {
  margin: 2em 1em 2em 1em;
  border: none;
  background: white;
  padding: 0.7em 3em 0.7em 3em;
  border-radius: 4px;
}

.UserPublishPost form textarea {
  text-align: center;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 12px 12px 0;
  margin: 1em 0 0 0;
  display: block;
  resize: none;
  height: 50vh;
}

.PostSneakContainer {
  position: absolute;
  top: 20%;
  width: 800px;
  left: 25%;
  margin-left: -200px;
  text-align: center;
}

.PostSneakContainer #PostSneakTitle {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0 0 0 0;
  left: 0;
  top: 0;
}

.PostSneakContainer #PostSneakBody {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
}

.PostSneakContainer .PostSneakView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  left: 0;
  top: 0;
  margin: 2em 0 2em 0;
  width: 100%;
  border: none;
  background: white;
  padding: 0.7em 3em 0.7em 3em;
  border-radius: 4px;
}

.PostSneakContainer .PostSneakView:hover {
  background: rgba(0, 0, 0, 0.52);
}

.PostSneakContainer .PostSneakBox {
  margin: 1em 0 0 0;
  padding: 1em;
  background: rgba(255, 244, 244, 0.52);
  border-radius: 4px;
}

.PostSneakContainer #InputID {
  display: none;
}

.PostSneakContainer textarea {
  text-align: center;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 12px 12px 0;
  margin: 1em auto 0 auto;
  display: block;
  resize: none;
  height: 10vh;
}

.PostSneakContainer #CommentBtn {
  margin: 1em 0 2em 0;
  border: none;
  background: white;
  padding: 0.7em 3em 0.7em 3em;
  border-radius: 4px;
}

.PostSneakContainerForm {
  position: absolute;
  top: 20%;
  width: 800px;
  left: 50%;
  margin-left: -400px;
  text-align: center;
}

.PostSneakContainerForm #PostSneakTitle {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0 0 0 0;
  left: 0;
  top: 0;
}

.PostSneakContainerForm #PostSneakBody {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
}

.PostSneakContainerForm .PostSneakView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  left: 0;
  top: 0;
  margin: 2em 0 2em 0;
  width: 100%;
  border: none;
  background: white;
  padding: 0.7em 3em 0.7em 3em;
  border-radius: 4px;
}

.PostSneakContainerForm .PostSneakView:hover {
  background: rgba(0, 0, 0, 0.52);
}

.PostSneakContainerForm .PostSneakBox {
  margin: 1em 0 0 0;
  padding: 1em;
  background: rgba(255, 244, 244, 0.52);
  border-radius: 4px;
}

.PostSneakContainerForm #InputID {
  display: none;
}

.PostSneakContainerForm textarea {
  text-align: center;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 12px 12px 0;
  margin: 1em auto 0 auto;
  display: block;
  resize: none;
  height: 10vh;
}

.PostSneakContainerForm #CommentBtn {
  margin: 1em 0 2em 0;
  border: none;
  background: white;
  padding: 0.7em 3em 0.7em 3em;
  border-radius: 4px;
}

.PostCommentContainer {
  position: absolute;
  top: 20%;
  width: 400px;
  right: 25%;
  margin-right: -250px;
  text-align: center;
}

.PostCommentContainer #PostSneakTitle {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0 0 0 0;
  left: 0;
  top: 0;
}

.PostCommentContainer .CommentBox {
  background: rgba(255, 244, 244, 0.52);
  border-radius: 4px;
}

.PostCommentContainer .CommentBox #CommentEditBtn {
  margin: 0.5em 0.6em 0.5em 0.6em;
  border: none;
  background: white;
  padding: 0.2em 3em 0.2em 3em;
  border-radius: 4px;
}

.PostCommentContainer #CommentBody {
  background: rgba(255, 244, 244, 0.23);
}

.PostCommentContainer .PostSneakView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  left: 0;
  top: 0;
  margin: 2em 0 2em 0;
  width: 100%;
  border: none;
  background: white;
  padding: 0.7em 3em 0.7em 3em;
  border-radius: 4px;
}

.PostCommentContainer .PostSneakView:hover {
  background: rgba(0, 0, 0, 0.52);
}

.PostCommentContainer .PostSneakBox {
  margin: 1em 0 0 0;
  padding: 1em;
  background: rgba(255, 244, 244, 0.52);
  border-radius: 4px;
}

.PostCommentContainer #InputID {
  display: none;
}

.PostCommentContainer textarea {
  text-align: center;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 12px 12px 0;
  margin: 1em auto 0 auto;
  display: block;
  resize: none;
  height: 10vh;
}

.PostCommentContainer #CommentBtn {
  margin: 1em 0 2em 0;
  border: none;
  background: white;
  padding: 0.7em 3em 0.7em 3em;
  border-radius: 4px;
}

.PostCommentContainer #CommentID {
  display: none;
}

.UserEditCommentBox {
  position: fixed;
  top: 30%;
  width: 100%;
  text-align: center;
}

.UserEditCommentBox form {
  width: 25%;
  margin: 0 auto;
}

.UserEditCommentBox form label {
  display: inline-block;
}

.UserEditCommentBox form input {
  text-align: center;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 12px 12px 0;
  display: block;
}

.UserEditCommentBox form button {
  margin: 2em 1em 2em 1em;
  border: none;
  background: white;
  padding: 0.7em 3em 0.7em 3em;
  border-radius: 4px;
}

.UserEditCommentBox form textarea {
  text-align: center;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px 12px 12px 0;
  margin: 1em 0 0 0;
  display: block;
  resize: none;
  height: 20vh;
}

.PostEditContainer {
  position: absolute;
  top: 20%;
  width: 800px;
  left: 50%;
  margin-left: -400px;
  text-align: center;
}

.PostEditContainer button {
  margin: 2em 1em 2em 1em;
  border: none;
  background: white;
  padding: 0.7em 3em 0.7em 3em;
  border-radius: 4px;
}

.PostEditContainer #PostSneakTitle {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0 0 0 0;
  left: 0;
  top: 0;
}

.PostEditContainer #PostSneakBody {
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
}

.PostEditContainer .PostSneakView {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  left: 0;
  top: 0;
  margin: 2em 0 2em 0;
  width: 100%;
  border: none;
  background: white;
  padding: 0.7em 3em 0.7em 3em;
  border-radius: 4px;
}

.PostEditContainer .PostSneakView:hover {
  background: rgba(0, 0, 0, 0.52);
}

.PostEditContainer .PostSneakBox {
  margin: 1em 0 0 0;
  padding: 1em;
  background: rgba(255, 244, 244, 0.52);
  border-radius: 4px;
}

.PostEditContainer #InputID {
  display: none;
}

#PostID {
  display: none;
}
/*# sourceMappingURL=Index.css.map */